<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="university.market.member.mapper.MemberMapper">

    <resultMap id="MemberResultMap" type="university.market.member.domain.MemberVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="university" column="university"/>
        <result property="auth" column="auth"/>
        <result property="memberStatus" column="member_status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <insert id="joinMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (name, email, password, university, auth, member_status)
        VALUES (#{name}, #{email}, #{password},
                #{university}, #{auth}, #{memberStatus})
    </insert>

    <select id="findMemberByEmail" resultMap="MemberResultMap">
        SELECT *
        FROM member
        WHERE email = #{email}
          AND is_deleted = false
    </select>

    <select id="findMemberById" resultMap="MemberResultMap">
        SELECT *
        FROM member
        WHERE id = #{id}
          AND is_deleted = false
    </select>

    <delete id="deleteMemberById">
        UPDATE member
        SET is_deleted = true
        WHERE id = #{id}
          AND is_deleted = false
    </delete>

    <update id="updateMemberStatus">
        UPDATE member
        SET member_status = #{memberStatus}
        WHERE id = #{id}
          AND is_deleted = false
    </update>

    <update id="updateAuth">
        UPDATE member
        SET auth = #{auth}
        WHERE email = #{email}
          AND is_deleted = false
    </update>

</mapper>
